/* The Nav Bar */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image {
    width: 30px;
    height: 30px;
}
.nav-first-item {
    padding: 1em;
}

.nav-image {
    margin-right: 1em;
}

.youtube-logo {
    height: 30px;
}

.nav-first-item-lb {
    color: #6e65aa;
    font-size: .8em;
    font-family: Roboto, Arial, sans-serif;
    margin-left: -10px;
    vertical-align: top;
}

.nav-third-item {
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav-third-item-account {
    margin-right: 30px;
    color: white;
    background-color: #7a1fa2;
    font-size: 1.2em;
    font-family: Roboto, Arial, sans-serif;
    padding: 10px;
    border-radius: 50%;
}
.nav-third-item li:focus {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    padding: 10px;
}
.nav-third-item-account:focus {
    border-color: royalblue;
}

.nav-second-item {
    display: flex;
    align-items: center;
}

.nav-second-item-input {
    width: 572px;
    height: 40px;
    padding-left: 10px;
    font-size: 1.2em;
    border: 1px solid #d3d3d3;
}

.nav-second-item-btn {
    height: 40px;
    width: 60px;
    background-color: #f8f8f8;
    border: 1px solid #d3d3d3;
    border-left: none;
    cursor: pointer;
}

.nav-second-item-btn:hover {
    background-color: #ececec;
}

.nav-second-item-voice {
    background-color: #f9f9f9;
    margin-left: 20px;
    border-radius: 50%;
    padding: 5px;
}

/* The Content */
body {
    background-color: #f9f9f9;
}

.content {
    display: flex;
    padding: 0 2%;
}

/* The Video */
.video {
    flex: 1.8;
    margin-right: -60px;
}

.video figcaption {
    margin-top:  20px;
}

/* The SideBar */
.thumbnails {
    flex: 1;
}

.img {
    width: 168px;
    height: 94px;
}

.thumbnails figure {
    display: flex;
    gap: 10px;
}

/* @media screen */

@media (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
    }
}
